<!-- form container -->
<main class="container">
    <section class="jumbotron">
        <h1 class="text-muted">Image Selection:</h1>
        <form class="form-horizontal" role="form" [formGroup]="myForm">
            <h4 class="col-form-label">Thumbnail:
                <a *ngIf="image" target="_blank" href="{{image.urls.full}}">
                    <img *ngIf="image" class="image-thumbnail" src="{{image.urls.thumb}}" />
                </a>
                <p *ngIf="image" class='text-muted'>Click thumbnail to view fullsize image</p>
            </h4>

            <div class="form-group row">
                <label class="col-md-12 col-form-label">Image URL:</label>
                <div class="col-md-12">
                    <input formControlName="img" type="text" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-12 col-form-label">Name:</label>
                <div class="col-md-12">
                    <input formControlName="name" type="text" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-12 col-form-label">Description:</label>
                <div class="col-md-12">
                    <input formControlName="description" type="text" class="form-control" readonly>
                </div>
            </div>
        </form>
        <div class="form-group">
            <label for="searchCriteria">Search Criteria</label>
            <input type="email" class="form-control" [(ngModel)]="inputText" id="searchCriteria"
                aria-describedby="emailHelp" placeholder="Enter Search Criteria then press Search Images!">
        </div>
        <button (click)="search()" type="submit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
            <span *ngIf="!image">Search Images</span>
            <span *ngIf="image">Select New Image</span>
        </button>
        <button *ngIf="image" (click)="clear()" type="button" class="btn btn-danger btn-lg">Clear Selection</button>
    </section>

    <!-- Modal -->
    <section id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Select An Image</h4>
                </div>
                <div *ngIf="response" class="modal-body">
                    <ul *ngIf="response.length !== 0" class="images">
                        <li class='index-images' *ngFor="let response of response">
                            <a data-dismiss="modal" (click)="makeSelection(response)">
                                <img class="image-selection" src="{{response.urls.small}}" />
                            </a>
                        </li>
                    </ul>
                    <div *ngIf="response.length == 0">
                        <h4 class="no-images" *ngIf="response.length == 0">Your search - {{inputText}} - did not yield
                            any results
                        </h4>
                        <h5>Suggestion: Try different keywords</h5>
                    </div>

                </div>
                <div class=" modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </section>
</main>